This program gives an output of all monsters with a Challenge Rating between x and y (which are user inputs).

In [3]:
import requests
import random
import pandas as pd

response = requests.get("http://dnd5eapi.co/api/monsters/")
data = response.json()
results = data["results"]
#This block converts the API into the variable results, which spits out monsters data in JSON format
                               
cr_list = [] #pre-allocate list of all challenge ratings
names_list = [] # pre-allocate list
count = 20 #data['count'] # gets the whole monster list length

#This whole for loop 
for i in range(0, count):
    names_i = results[i]['name']
    names_list.append(names_i)
    url_i = results[i]['url']
    monster_data_raw = requests.get(url_i)
    monster_data = monster_data_raw.json()
    cr_list.append(monster_data["challenge_rating"]) 
#now names_list and cr_list are filled with monster names and challenge ratings
    
# print(list(zip(names_list, cr_list)))
dd_df = pd.DataFrame.from_records(zip(names_list, cr_list))
#This uses pandas to put names and crs into a dataframe with rows and columns
#rows = 1, columns = 0, maybe rename the rows and columns later

In [18]:
def get_inputs():
#This function gets the minimum and maxium from the user and returns the resulting range
    min_cr = int(input("Type a minimum between 0 and 30: "))
    max_cr = int(input("Type a maximum between 0 and 30: "))
    return (min_cr, max_cr)

range_cr = get_inputs()
min_cr = range_cr[0]
max_cr = range_cr[1]
dd_df[(dd_df[1]>min_cr)&(dd_df[1]<=max_cr)]

Type a minimum between 0 and 30: 0
Type a maximum between 0 and 30: 1

         0     1
1  Acolyte  0.25

In [ ]:
# def random_monster():
# #This gets the name of a random monster within the input settings!
#     monster_index_list = make_list()
#     random_monster = random.choice(monster_index_list)
# #this is a random monster index #, not yet a name or anything useful
#     temp_data = requests.get("http://dnd5eapi.co/api/monsters/"+str(random_monster))
#     monster_data = temp_data.json()
#     print(monster_data["name"])

           0     1
0    Aboleth  10.0
29  Assassin   8.0